.contact {
    padding: 2rem;
    text-align: center;
    background-color: #222;
    color: #ffd700; 
    font-family: 'Cinzel', serif; 
  }
  
  .contact h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #0ff; 
    font-family: 'Orbitron', sans-serif; 
  }
  
  .contact p {
    font-size: 1.2rem;
    color: #ddd;
  }
  