.projects {
    padding: 2rem;
    background-color: #191718;
    color: #F3D849; 
    font-family: 'Cinzel', serif; 
  }
  
  .projects h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #0A62D0; 
    font-family: 'Orbitron', sans-serif; 
  }
  
  .project-item {
    margin-bottom: 2rem;
  }
  